*

!.gitignore
!Dockerfile
!README.md
!crontab
!docker-compose.yml
!example.env

!*/
!config/caddy/Caddyfile

!config/plex/Library/Application Support/Plex Media Server/Plug-in Support/Databases/com.plexapp.plugins.library.db
!config/radarr/config.xml
!config/radarr/nzbdrone.db
!config/sonarr/config.xml
!config/sonarr/nzbdrone.db
