*

!.gitignore
!Dockerfile-plex
!Dockerfile-noacd
!Dockerfile-transmission
!README.md
!README-rclone.md
!backup.sh
!cronjob-plex.sh
!cronjob-transmission.sh
!crontab-plex
!crontab-noacd
!crontab-transmission
!docker-compose.yml
!example.env
!update.sh

!*/
!config/caddy/Caddyfile

!config/plex/Library/Application Support/Plex Media Server/Plug-in Support/Databases/com.plexapp.plugins.library.db
!config/plex/Library/Application Support/Plex Media Server/Plug-in Support/Metadata Combination/com.plexapp.agents.imdb/Movies.xml
!config/plex/Library/Application Support/Plex Media Server/Plug-in Support/Metadata Combination/com.plexapp.agents.themoviedb/Movies.xml
!config/plex/Library/Application Support/Plex Media Server/Plug-in Support/Metadata Combination/com.plexapp.agents.thetvdb/TV Shows.xml
!config/radarr/config.xml
!config/radarr/nzbdrone.db
!config/sonarr/config.xml
!config/sonarr/nzbdrone.db/
!config/jackett/ServerConfig.json
!config/jackett/Indexers/skytorrents.json
